Source/ArticlesClient/Connected Services/CommentsService/CommentsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Articles.Services.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Articles.Services.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultDtoOfArrayOfCommentDtoO_Po34nZx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Articles.Services.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCommentDto" Namespace="http://schemas.datacontract.org/2004/07/Articles.Services.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfCommentDto" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDtoOfArrayOfCommentDtoO_Po34nZx" nillable="true" type="tns:ResultDtoOfArrayOfCommentDtoO_Po34nZx" />
  <xs:complexType name="ArrayOfCommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDto" nillable="true" type="tns:CommentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDto" nillable="true" type="tns:ArrayOfCommentDto" />
  <xs:complexType name="CommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleId" type="xs:long" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDto" nillable="true" type="tns:CommentDto" />
  <xs:complexType name="ResultDtoOfCommentDtoO_Po34nZx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Articles.Services.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CommentDto" Namespace="http://schemas.datacontract.org/2004/07/Articles.Services.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:CommentDto" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDtoOfCommentDtoO_Po34nZx" nillable="true" type="tns:ResultDtoOfCommentDtoO_Po34nZx" />
</xs:schema>