Articles/ArticlesClient/Connected Services/ArticlesService/ArticlesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Articles.Services.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Articles.Services.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleData" nillable="true" type="tns:ArticleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleData" nillable="true" type="tns:ArrayOfArticleData" />
  <xs:complexType name="ArticleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfCommentData" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticleData" nillable="true" type="tns:ArticleData" />
  <xs:complexType name="ArrayOfCommentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentData" nillable="true" type="tns:CommentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentData" nillable="true" type="tns:ArrayOfCommentData" />
  <xs:complexType name="CommentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleId" type="xs:long" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentData" nillable="true" type="tns:CommentData" />
</xs:schema>